<div id="{{ id }}" class="mb-canvas-rotation">
    <form style="padding-left: 1em;">
        <div class="radio">
            <label><input type="radio" name="degrees" value="0" checked="checked" />0 Grad</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="degrees" value="90"/>90 Grad</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="degrees" value="180"/>180 Grad</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="degrees" value="270"/>270 Grad</label>
        </div>
    </form>
    <p>Karten-Rotation ist eine neue Funktion in Openlayers 4.<br/>
    Hinweis: Sie können die Karte auch per ALT+SHIFT+Ziehen mit der Maus direkt und stufenlos drehen.</p>
</div>

